html, body {
    margin: 0;
    padding: 0;

    /*font-family: 'Open Sans', sans-serif;*/
    /*font-family: 'Roboto Slab', serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 26px;

    height: 100%;
    line-height: 0.8;
    letter-spacing: 4px;

    --color-red: #ff634c;
    --color-green: #39f6c6;
    --color-blue: #059eb1;
    --color-no: #404345;

    /*--color-green: rgba(234, 149, 149, 0);*/

    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-bottom: 100px;*/
    /*top: 0;*/
    height: 100%;

    /*color: black;*/
    background-color: ghostwhite;
}

a {
    text-decoration: none;
    /*color: black;*/
}

a:hover {
    /*color: #35a8d8;*/
    /*color: rgba(20, 137, 181, 0.76);*/
}

main {
    width: 100%;
    height: 100%;
    /*background-color: rgba(144, 238, 144, 0.44);*/

    display: flex;
    flex-direction: row;
}

#buttons {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    color: white;
    opacity: 0.8;
}

#buttons div {
    padding: 20px;
}

#like {
    text-align: end;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-green);
}

#like span {
}

#done {
    position: relative;
    background-color: var(--color-blue);
    display: flex;
    justify-content: space-between;
    /*text-align: right;*/
}

#dislike {
    display: flex;
    background-color: var(--color-red);
}

#dislike span {
    align-self: flex-end;
}

#skip {
    z-index: 1;
    display: flex;
    background-color: var(--color-no);
}

#skip span {
    width: 100%;
    /*text-align: end;*/
    align-self: flex-end;
}

#skip span:last-child {
    text-align: end;
}

#skip #back {
    z-index: 2;
    padding-top: 42px;
    font-size: 16px;
    font-weight: 300;
    /*background-color: red;*/
}

#done-count {
    font-size: 16px;
    font-weight: 300;
    /*background-color: rebeccapurple;*/
}

#like-count {
    font-size: 16px;
    font-weight: 300;
    /*background-color: rebeccapurple;*/
    /*width: 100%;*/
    /*text-align: left;*/
}

#card {
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: 'Raleway', sans-serif;*/

    position: fixed;
    width: 80%;
    height: 80%;

    /*right: 10%;*/
    /*bottom: 10%;*/
    top: 10%;
    left: 10%;
    /*left: 100px;*/
    /*top: 100px;*/

    font-size: 20px;
    font-weight: 300;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    line-height: normal;
    letter-spacing: 1px;

    color: #292929;
    background-color: ghostwhite;
    border-radius: 16px;

    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.24), 0 10px 10px rgba(0, 0, 0, 0.20);


    /*pointer-events: none;*/
    /*transition: 0.1s left, 1s top;*/
    overflow: hidden;
    opacity: 0.95;
}

#card.hold {
    transition: 1s box-shadow;
    box-shadow: none;
}

#card #title {
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 20px;
}

#card #marks div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 0.8;
    letter-spacing: 4px;
}

#card #marks div {
    display: none;
    position: absolute;
    /*opacity: 0.5;*/
}

#card #like-mark {
    top: 20px;
    right: 20px;
    color: var(--color-green);
}

#card #done-mark {
    top: 20px;
    left: 20px;
    color: var(--color-blue);
}

#card #dislike-mark {
    bottom: 20px;
    left: 20px;
    color: var(--color-red);
}

#card #info {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    padding-top: 20px;
    font-size: 14px;
}
